.header {
    width: 100%;
    position: relative;
    margin-bottom: 4rem;

    h1 {
        font-size: 4rem;
        font-weight: 500;
        color: #6060e6;
    }

    h2 {
        font-size: 2rem;
        font-weight: 500;
    }

    p {
        margin-top: 1.3rem;
        font-size: 1.8rem;
    }

    .showcase-top {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
